.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption > h3:hover{
    background-color: #E1E1E1;
    color: #000000;
    opacity: 0.9;
}

.sidebarOption__channel{
    padding: 10px 0px;
}

.sidebarOption__hash{
    padding: 10px;
}

.sidebarOption > h3{
    font-weight: 500;
    font-size: 12px;
    display: flex;
    flex: 1;
    align-items: center;
    max-height: 35px;
}