.sidebar{
    background-color: #212121;
    border-top: 1px solid #212121;
    max-width: 260px;
    color: #fff;
    flex: 0.3;
}

.sidebar__header{
    display: flex;
    border-bottom: 1px solid #212121;
    padding-bottom: 10px;
    padding: 13px;
}

.sidebar__info{
    flex: 1;
    text-align: center;
}

.sidebar__info > img{
    height: 100px;
    border-radius: 999px;
    object-fit: contain;
}

.sidebar__info>h2{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar__info > h3{
   
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar__footer{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.sidebar__channels{
    height: 200px;
    overflow-y: scroll;
}

.sidebar__footer > span{
    cursor: pointer;
    font-size: 14px;
    color: darkgray;
}